<p-table [value]="shipments" [paginator]="true" [rows]="4" responsiveLayout="scroll">
    <ng-template pTemplate="header">
      <tr>
        <th>Container Number</th>
        <th>Origin</th>
        <th>Destination</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-shipment>
      <tr>
        <td>{{ shipment.containerNumber }}</td>
        <td>{{ shipment.originPort }}</td>
        <td>{{ shipment.destinationPort }}</td>
        <td>
          <p-dropdown [options]="statuses" [(ngModel)]="shipment.status" (onChange)="updateStatus(shipment.id, shipment.status)"></p-dropdown>
        </td>
        <td>
          <button pButton type="button" icon="pi pi-trash" class="p-button-danger" (click)="deleteShipment(shipment.id)"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
  