p{
    font-size: 18px;
}

.text1, .text2{
    text-align: justify;
    padding: 10px 40px;
    border-radius: 20px;
}


.section1, .section2{
    width: 1200px;
    background: rgb(200, 239, 188);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0px;
    padding: 20px 40px;
}

section > img{
    border-radius: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    width:300px;
}

.section1{
    border-radius: 0 160px 160px 0;
}
.section2{
    border-radius:  160px 0 0 160px ;
    float: right;
}


