ul > li {
  list-style: none;
  cursor: pointer;
  margin: 30px 20px;
}

li > a {
  text-decoration: none;
  color: black;
  padding: 10px;
  /* background: grey; */
  border-radius: 12px;
}

.active {
  font-weight: bold;
  background-color: #ffffff;
  border-radius: 16px;
}

nav {
  width: 300px;
  background-color: #cfcfcf;
  border-radius: 16px;
  color: white;
  height: 100%;
  display: flex;
  justify-content: start;
}
